/* Styles for Digitopia project */

.hover {
    position: absolute;
    font-size: 1.4vw;
    color: white;
}
#loadIndicator {
    top: 5%;
    left: 5%;
}
body {
    background: #000;
}
#logo img {
    width: 100%;
}
.hide {
    display: none;
}